.Service_Page {
  width: 90%;
  max-width: 1350px;
  height: auto;
  position: relative;
  /* border: 5px solid black; */
  /* border-radius: 30px; */
  background: rgba(255, 253, 244, 1);
  box-sizing: border-box;
  margin: 80px auto 20px; /* Push content down to avoid overlap with fixed navbar */
  overflow: hidden;
  padding: 20px;
}

/* Ensure the main component takes full screen */
.Service_Page_Main {
  width: 100%;
  height: 100vh; /* Full screen height */
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}

/* Adjust for smaller screens */
@media (max-width: 768px) {
  .Service_Page {
    width: 98%;
    margin-top: 100px; /* Increase margin to prevent overlap */
  }

  .Service_Page_Main {
    height: auto; /* Allow content to adjust */
  }
}
