/* Left image container */
.left-image-container {
  flex: 0 0 auto;
  display: flex;
  background-color: white;
  width: 500px !important; 
  height: 100% !important; /* Ensure it takes full height */
  border-radius: 10px 0 0 0;
  overflow: hidden;
}

  
  /* Image styles */
  .left-image2 {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure it covers the container */
}