/* Left image container */
.left-image-container {
    flex: 0 0 auto; /* Keeps the container width fixed */
    display: flex;
    background-color: white;
    width: 500px !important; /* Matches the image width */
    height: auto; /* Matches the image height */
    border-radius: 10px 0 0 0; /* Optional: match border-radius with image */
    overflow: hidden; /* Prevents any overflow issues */
  }
  
  /* Image styles */
  .left-image2 {
    width: 100%; /* Ensures it fits the container */
    height: 100%; /* Ensures it fits the container */
    object-fit: cover; /* Scales image to fit the container dimensions */
    opacity: 1;
  }