/* Updated right section styling */

.signup-right-section {
  width :100%; 
  max-width :400px; 
  text-align :center;
  display:flex;
  flex-direction :column;
  justify-content:center;
  align-items:center;
}

.signup-logo {
  width :155px; 
  height :auto;
  margin :0 auto;
}

.signup-title {
  font-size :32px; 
  font-weight :bold;
  margin-bottom :20px;
  color :#333;
}

.signup-form {
  width :100%;
}

.name-phone-wrapper {
  display:flex; 
  justify-content :space-between; 
  width :calc(100% - 20px); 
}

.name-input-container,
.phone-input-container { 
  flex-basis :calc(50% -10px); 
}

.email-input,
.password-input,
.age-input,
.gender-select { 
  width :calc(100% -20px); 
  padding :12px ; 
  margin-bottom :15px;

}

.signup-submit-button {
  width :calc(100% -20px); 
  padding :12px ; 
  background-color :#6c63ff;
  color:white;

border:none;

border-radius :5px;

font-size :18px;

}

.signup-submit-button:hover {

background-color:#574bff;}

.signup-text2 { 

margin-top :20px;}

.signup-link { 

color:#6c63ff;}

.signup-link:hover { 

text-decoration:none;}

.error-message { 

color:red;margin-top :10px;font-size :14px;}
