body {
  align-items: center;
}

/* Right Section Styling */
.new-right-section {
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.new-logo, .new-or-text {
  width: 120px;
  height: auto;
  margin: 0 auto;
  position: relative;
  bottom: 70px;
}

.new-sign-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
  position: relative;
  bottom: 70px;
}

.new-signin-form {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
}

.new-email-input,
.new-password-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  background: linear-gradient(to right, #fffef6, #b5a5a5);
  border-radius: 8px;
  border: 1px solid rgba(150, 150, 150, 0.3);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.new-signin-button {
  width: 100%;
  padding: 10px;
  background-color: #6c63ff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.new-signin-button:hover {
  background-color: #574bff;
}

.new-signup-text {
  margin-top: 20px;
  font-size: 14px;
  color: #555;
}

.new-signup-link {
  color: #6c63ff;
  text-decoration: none;
}

.new-signup-link:hover {
  text-decoration: underline;
}

/* Error message styling */
.new-error-message {
  color: red;
  margin-top: 10px;
  font-size: 14px;
}

/* Styling for form labels */
.new-email-label,
.new-password-label {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #333;
  display: block;
}

/* Styling for "Forget?" link */
.new-password-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-forgot-password {
  font-size: 14px;
  color: #6c63ff;
  cursor: pointer;
  margin-left: 40px;
}

.new-forgot-password:hover {
  text-decoration: underline;
}
